[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-HTTPAuth = "*"
python-dotenv = "*"
gattlib = "*"

[dev-packages]
flake8 = "*"
black = "*"
flake8-import-order = "*"

[requires]
python_version = "3.8"
